# add new ones:
#   git submodule add URL [LOCAL_PATH]

[submodule "vat-calculator"]
	path = vat-calculator
	url = https://github.com/htw-kbe-jneidel/vat-calculator
  branch = master
[submodule "planning"]
	path = planning
	url = https://github.com/htw-kbe-jneidel/planning
  branch = master
[submodule "api"]
	path = api
	url = https://github.com/htw-kbe-jneidel/api
[submodule "frontend"]
	path = frontend
	url = https://github.com/htw-kbe-jneidel/frontend
[submodule "gateway"]
	path = gateway
	url = https://github.com/htw-kbe-jneidel/gateway
[submodule "distance-calculator"]
	path = distance-calculator
	url = https://github.com/htw-kbe-jneidel/distance-calculator
[submodule "product"]
	path = product
	url = https://github.com/htw-kbe-jneidel/product
[submodule "storage"]
	path = storage
	url = https://github.com/htw-kbe-jneidel/storage
[submodule "csv-export"]
	path = csv-export
	url = https://github.com/htw-kbe-jneidel/csv-export
